body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1f1f1f;
}

.controls {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

canvas {
  border: 2px solid #333;
  background: white;
}